/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



html body {
  padding: 10%;
  background: url(https://orig02.deviantart.net/8a80/f/2012/086/0/4/skyrim_logo_png_by_drakonias115-d4u586r.png)no-repeat top right;
  background-color: #386472;
}

h1 {
  color: #A4C6C9;
}

input {
  background-color: #636363;
}

li {
  color: white;
  font-size: 35px;
}

a {
  color: white
}

p {
  font-size: 20px;
}
